%section.home-splash
  .container
    %header.text-center
      %h1.jumbo-heading
        2/3 of Enterprises Use GitLab
        %a{ href: '#footnote', class: 'superindex' }
          *
      %h2.page-subtitle
        Create value faster with the only integrated product for the whole software development lifecycle.

      %a.btn.cta-btn.accent{href: "/installation/"}
        Install GitLab
      %a.btn.cta-btn.ghost{href: "https://gitlab.com/users/sign_in"}
        Use GitLab.com

    .home-lifecycle-diagram
      - data.lifecycle_diagram.each do |phase|
        %article{class: "lifecycle-diagram-phase #{phase.name.downcase}", "data-title" => phase.name}
          .row
            .col-sm-12.col-md-4
              %h3.sub-heading
                = partial "images/home/#{phase.name.downcase}.svg"
                #{phase.name}: #{phase.title}
              .description #{phase.description}
              .btn-group
                %a.btn.cta-btn.ghost{href: phase.cta_url}
                  Learn More
            .col-sm-12.col-md-7.col-md-offset-1.image-column.hidden-xs
              = image_tag "/images/home/#{phase.image_name}.jpg", alt: phase.image_alt, srcset: "/images/home/#{phase.image_name}_2x.jpg 2x"
    .footer-note
      %a{ href: "/2017/06/29/whats-next-for-gitlab-ci/#gitlab-has-23-market-share-in-the-self-hosted-git-market", id:'footnote' }
        * Most enterprises self-host their code and GitLab has 2/3 market share in the self-hosted git market
