.callout.gitlab-trial
  %h3
    Try GitLab Enterprise Edition risk-free for 30 days.
  %h4
    No credit card required. Have questions?
    %a.contact{href: "https://about.gitlab.com/sales/"} Contact us.
  %a.btn.btn-lg.btn-red{ href: "/free-trial/" } Get Your Free Trial Today
